<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage for static site</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Welcome to Static Site</h1>
    <a href="/highscores.html">high score page</a>
    <br>
    <img src="images/302.jpg" alt="Elisa" width="500" height="440">
    <script scr='scipts/script.js'></script>
</body>
</html>